body{
    background-color: #885B84;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
    margin-top: 30px;
    margin-bottom: 30px;
}

h1{
    font-weight: 500;
    text-align: center;
    padding-bottom: 30px;
    color: white;
}

.cards_container{
    display: flex;
    gap: 16px;
    justify-content: space-evenly;
}

.card{
    background-color: #6C377F;
    color: #ffffff;
    box-sizing: border-box;
    height: 250px;
    width: fit-content;
}

.card p{
    text-align: center;
    margin-top: 25px;
    color: #ffffff;
}

.tamanho{
    display: block;
    height: 70%;
}

@media (max-width: 800px){

    .cards_container{
        flex-direction: column;
        align-items: center;
    }
}